root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.rs]
indent_size = 4

[*.lean]
max_line_length = 100

[*.tex]
trim_trailing_whitespace = false

[*.md]
indent_size = 4

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
