<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Musa</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponentBundle</key>
			<string>dev.musa.audiounit.MusaAudioUnitKit</string>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>A checked Musa instrument, rendered from host MIDI</string>
					<key>manufacturer</key>
					<string>Musa</string>
					<key>name</key>
					<string>Musa: Instrument</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>musa</string>
					<key>tags</key>
					<array>
						<string>Synthesizer</string>
					</array>
					<key>type</key>
					<string>aumu</string>
					<key>version</key>
					<integer>65536</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>A checked Musa piece, scheduled as MIDI on the host timeline</string>
					<key>manufacturer</key>
					<string>Musa</string>
					<key>name</key>
					<string>Musa: Processor</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>musp</string>
					<key>tags</key>
					<array>
						<string>MIDI Processor</string>
					</array>
					<key>type</key>
					<string>aumi</string>
					<key>version</key>
					<integer>65536</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit</string>
		<key>NSExtensionPrincipalClass</key>
		<string>MusaComponentFactory</string>
	</dict>
</dict>
</plist>
